In [3]:
import pandas as pd

In [6]:
df = pd.read_excel('./Stadium.xlsx')
df.head(5)

   Manchester United               Old Trafford  74140
0  Tottenham Hotspur  Tottenham Hotspur Stadium  62850
1           West Ham             London Stadium  62500
2            Arsenal           Emirates Stadium  60260
3    Manchester City             Etihad Stadium  53400
4          Liverpool                    Anfield  53394

In [9]:
df.to_csv('stadium1.csv', index = False)